@keyframes error {
  from {
    // color: #000000;
    // transform: scale(1);
    // border-color: #ff0000;
    background-color: #fff;
  }
  50% {
    border-color: #ff0000;
    background-color: #ffd4d4;

    // color: #ff0000;
    // transform: scale(1.1);
  }
  //   80% {
  //     color: #ff0000;
  //     transform: scale(1.1);
  //   }
  100% {
    // color: #000000;
    // transform: scale(1);
    background-color: #fff;
  }
}

.modal_wrapper {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #75c7ff;

  z-index: 2;

  .modal {
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(19, 144, 229, 0.8);
    border-radius: 10px;

    padding: 36px 40px;

    @media (max-width: 768px) {
      padding: 10px 22px;
    }

    .errorQueryName {
      //   transition: 1s;
      animation-name: error;
      animation-duration: 0.5s;
    }

    h3 {
      text-align: center;
      margin-bottom: 36px;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      label {
        margin-bottom: 5px;

        span {
          color: #ff0000;
          margin-right: 0;
        }
      }

      input[type="text"],
      select {
        box-sizing: border-box;
        padding: 12px 15px;

        width: 430px;

        border: 1px solid rgba(23, 23, 25, 0.2);
        border-radius: 10px;

        font-family: "Roboto", sans-serif;
        font-size: 20px;

        @media (max-width: 768px) {
          width: 98%;
          font-size: 14px;
        }

        &:disabled {
          background-color: #fafafa;
        }

        &:focus {
          outline: none;
          border: 1px solid #1390e5;

          background-color: rgba(197, 228, 249, 0.3);
        }
      }
    }

    .range_wrapper {
      display: flex;

      flex-direction: row;
      justify-content: space-between;

      input[type="text"] {
        width: 100px;
        text-align: center;
      }

      input[type="range"] {
        width: 100%;
        margin-right: 20px;
      }
    }

    .btn_group {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-between;

      button {
        padding: 14px 40px;

        @media (max-width: 768px) {
          font-size: 18px;
          padding: 12px 14px;
        }
      }
    }
  }
}
